<!-- <%= form_tag '/login', method: 'post' do %>
<label>email</label>
<input type="text" name="email">

<label>password</label>
<input type="password" name="password">
<button>login</button>

<% end %> -->
