<h1 class="text-center">SignUp</h1>

		<%= form_tag '/users', method: 'put' do %>

		  <label for="">Name</label>
		  <input name="name">
		  <label>email</label>
		  <input type="text" name='email'>

		  <label>password</label>
		  <input type="password" name="password">

		  <button>Login</button>

			<% end %>
