    <!--Main Content -->

<div id="home">
  <div class="row">
  <div id="stage">
    <!-- <img src="/stage-aquablue2.jpg" class="img-responsive" id="stage-image" alt="Responsive image"> -->
    <!--<img src="/stage-yellow.jpg" class="img-responsive" id="stage-image" alt="Responsive image">-->
  <!-- <div class="container" id="wdi-heading"> -->
      <div class="col-md-6 app-info">
        <h1 id="wdi-conf-text">WDI4 Conf</h1>
        <!--<h3>...where impossible is nothing.</h3> -->
        <h4>45 William St, Melbourne</h4>
        <h4>Friday 10:00 to 16:00</h4>
        <a href="/seats"><button class="btn btn-info">Buy Ticket</button></a>
        <br><br><br><br>
        <a href="#speakers">
          <img src="down-arrow.png" id="down-arrow">
        </a>
    </div>
  </div>
 </div>
  <!-- <img src="/curtain-up.jpg" class="img-responsive" id="curtain" alt="Responsive image"> -->
</div>


<!-- <script>
curtain = $('#curtain').animate({ height: 50 },{duration: 8000});
</script>    -->

<!--SPEAKERS -->
<div class="wrapper" id="about-conf">
  <a name="speakers"></a>
  <div class="container" >

      <center>
        <h1>SPEAKERS</h1>
      </center>

      <div class="color-list">

  <section class="color">
    <h2 class="name">Ravi C</h2>
    <ul class="details">
      <li>hsl(4,99%,66%)</li>
      <li>#FE5E52</li>
      <li>178 C</li>
      <li>485 U</li>
      <li>Primary</li>
    </ul>
  </section>

  <section class="color">
    <h2 class="name">Ashton S</h2>
    <ul class="details">
      <li>hsl(233,21%,56%)</li>
      <li>#777DA6</li>
      <li>7675 C</li>
      <li>7669 U</li>
      <li>Primary</li>
    </ul>
  </section>

  <section class="color">
    <h2 class="name">Gregory Fernandes </h2>
    <ul class="details">
      <li>hsl(357,26%,42%)</li>
      <li>#874F52</li>
      <li>4985 C</li>
      <li>188 U</li>
      <li>Secondary</li>
    </ul>
  </section>
  <section class="color">
    <h2 class="name">Bono</h2>
    <ul class="details">
      <li>hsl(144,33%,68%)</li>
      <li>#92C8A8</li>
      <li>345 C</li>
      <li>344 U</li>
      <li>Secondary</li>
    </ul>
  </section>

  <section class="color">
    <h2 class="name">Asep N</h2>
    <ul class="details">
      <li>hsl(97,62%,80%)</li>
      <li>#C5ECAC</li>
      <li>7486 C</li>
      <li>7486 U</li>
      <li>Secondary</li>
    </ul>
  </section>
</div>

      <!-- <div class="row">
        <center>
          <div class="col-md-2">
            <img src="/x.gif" class="photo" alt="">
          </div>
        </center>
          <div class="col-md-4">
            <h4 class="profile">Asif N' profile</h4>
            <p class="profile-summary">blah blah yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak </p>
          </div>

        <center>
          <div class="col-md-2">
            <img src="speakers/ashton.png" onmouseover="this.src='/speakers/ashton2.png'" onmouseout="this.src='/speakers/ashton.png'"  class="photo" alt="">
          </div>
        </center>
          <div class="col-md-4">
            <h4 class="profile">Ashton S' profile</h4>
            <p class="profile-summary">blah blah yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak </p>
          </div>
      </div>

      <div class="row">
        <center>
          <div class="col-md-2">
            <img src="/x.gif" class="photo" alt="">
          </div>
        </center>
          <div class="col-md-4">
            <h4 class="profile">Bono's profile</h4>
            <p class="profile-summary">blah blah yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak</p>
          </div>
        <center>
          <div class="col-md-2">
            <img src="/speakers/greg.png" onmouseover="this.src='/speakers/greg2.png'" onmouseout="this.src='/speakers/greg.png'" class="photo" alt="">
          </div>
        </center>
          <div class="col-md-4">
            <h4 class="profile">Gregory Fernandes</h4>
            <p class="profile-summary">Greg is a Java Developer, an ethusiastic web developer and an avid sketcher 'n' fine artist. When he's not hitting keys, he is dabbling with paint. He has 10,500 followers on his Fb art page in 3 months.</p>
          </div>
      </div>

      <div class="row">
        <center>
          <div class="col-md-2">
            <img src="/x.gif" class="photo" alt="">
          </div>
        </center>
          <div class="col-md-4">
            <h4 class="profile">Ravi's profile</h4>
            <p class="profile-summary">blah blah yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak </p>
          </div>
        <center>
          <div class="col-md-2">
            <img src="/x" class="photo" alt="">
          </div>
        </center>
          <div class="col-md-4">
            <h4 class="profile">x' profile</h4>
            <p class="profile-summary">blah blah yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak</p>
          </div>
      </div>
    </div>

  </div> -->


<!--AGENDA -->
<div class="wrapper1" id="schedule-box">
  <div class="container" >
      <center>
        <h1>AGENDA</h1>
      </center>
        <section id="timeline">
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">09 : 00</span>
                </span>
                <img class="headshot_left" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRJNyCWvq98c24ZJznhyuSaJO8bd2A5uGfYu1q49HCVngCEzHNX">
                <h2>The Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">09 : 30</span>
                </span>
                <img class="headshot_right" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRJNyCWvq98c24ZJznhyuSaJO8bd2A5uGfYu1q49HCVngCEzHNX">
                <h2>The Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
              </div>
            </article>
      </section>
  </div>
</div>

<!--EVENTS -->



<!--TWITTER FEED -->

<div id="twitter-feed">
  <div class="container-fluid" >
      <center>
        <h1>TWITTER FEED</h1>
      </center>
      <p>
        Plain text is the most portable format because it is supported by nearly every application on every machine. It is quite limited, however, because it cannot contain any formatting commands. In cryptography, plain text refers to any message that is not encrypted. Contrast with cipher text.
        Plain text is the most portable format because it is supported by nearly every application on every machine. It is quite limited, however, because it cannot contain any formatting commands. In cryptography, plain text refers to any message that is not encrypted. Contrast with cipher text.
        Plain text is the most portable format because it is supported by nearly every application on every machine. It is quite limited, however, because it cannot contain any formatting commands. In cryptography, plain text refers to any message that is not encrypted. Contrast with cipher text.
        Plain text is the most portable format because it is supported by nearly every application on every machine. It is quite limited, however, because it cannot contain any formatting commands. In cryptography, plain text refers to any message that is not encrypted. Contrast with cipher text.
        Plain text is the most portable format because it is supported by nearly every application on every machine. It is quite limited, however, because it cannot contain any formatting commands. In cryptography, plain text refers to any message that is not encrypted. Contrast with cipher text.
        Plain text is the most portable format because it is supported by nearly every application on every machine. It is quite limited, however, because it cannot contain any formatting commands. In cryptography, plain text refers to any message that is not encrypted. Contrast with cipher text.
      </p>
  </div>
</div>



<!--SPONSORS -->

<!--CONTACT US -->
<div class="container" id="contacts-page">
    <!-- <img src="/image-city.jpg" class="img-responsive" id="tickets-image" alt="Responsive image"> -->

    <div id="contacts-heading col-md-12">
      <div class="contact-us col-md-6">
        <h3 id="tickets-text">CONTACT</h3>
        <h4>WDI4 Famous 5</h4>
        <h4>45 William Street,</h4>
        <h4>Melbourne, VIC 3000</h4>
        <h4>Phone: 04 9999 9999</h4>
      </div>
        <div id="map-box" class="col-md-6">
          <div class='conf-map'></div>
        </div>


    </div>
</div>
