    <!--Main Content -->

<div id="home">
  <div class="row">
  <div id="stage">
    <!-- <img src="/stage-aquablue2.jpg" class="img-responsive" id="stage-image" alt="Responsive image"> -->
    <!--<img src="/stage-yellow.jpg" class="img-responsive" id="stage-image" alt="Responsive image">-->
  <!-- <div class="container" id="wdi-heading"> -->
      <div class="col-md-6 app-info">
        <h1 id="wdi-conf-text">WDI4 Conf</h1>
        <!--<h3>...where impossible is nothing.</h3> -->
        <h4>45 William St, Melbourne</h4>
        <h4>Friday 10:00 to 16:00</h4>
        <a href="/seats"><button class="btn btn-info">Buy Ticket</button></a>
        <br><br><br><br>
        <a href="#speakers">
          <img src="down-arrow.png" id="down-arrow">
        </a>
    </div>
  </div>
 </div>
  <!-- <img src="/curtain-up.jpg" class="img-responsive" id="curtain" alt="Responsive image"> -->
</div>


<!-- <script>
curtain = $('#curtain').animate({ height: 50 },{duration: 8000});
</script>    -->

<!--SPEAKERS -->
<div class="container">
<div id="about-speakers">
  <a name="speakers"></a>
  <div class="container" >

      <center>
        <h1>SPEAKERS</h1>
      </center>

      <div class="color-list">

        <section class="color">
          <h2 class="name">Asep Norzai </h2>
            <div class="col-md-8">
              <img src="/speakers/bono.png" onmouseover="this.src='/speakers/bono.png'" onmouseout="this.src='/speakers/bono.png'" class="photo" alt="">
            </div>
            <ul class="details">
              <p class="profile-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Gregory Fernandes </h2>
            <div class="col-md-8">
              <img src="/speakers/greg.png" onmouseover="this.src='/speakers/greg2.png'" onmouseout="this.src='/speakers/greg.png'" class="photo" alt="">
            </div>
            <ul class="details">
              <p class="profile-summary">Greg is a Java Developer, an ethusiastic web developer and an avid sketcher 'n' fine artist. When he's not hitting keys, he is dabbling with paint. He has 10,500 followers on his Fb art page in 3 months.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Bono </h2>
            <div class="col-md-8">
              <img src="/speakers/bono.png" onmouseover="this.src='/speakers/bono.png'" onmouseout="this.src='/speakers/bono.png'" class="photo" alt="">
            </div>
            <ul class="details">
              <p class="profile-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Ravi C </h2>
            <div class="col-md-8">
              <img src="/speakers/bono.png" onmouseover="this.src='/speakers/bono.png'" onmouseout="this.src='/speakers/bono.png'" class="photo" alt="">
            </div>
            <ul class="details">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Ashton S</h2>
          <div class="col-md-8">
            <img src="speakers/ashton.png" onmouseover="this.src='/speakers/ashton2.png'" onmouseout="this.src='/speakers/ashton.png'"  class="photo" alt="">
        </div>
          <ul class="details">
            <p class="profile-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </ul>
        </section>

      </div>
    </div>
  </div>

      <!-- <div class="row">
        <center>
          <div class="col-md-2">
            <img src="/x.gif" class="photo" alt="">
          </div>
        </center>
          <div class="col-md-4">
            <h4 class="profile">Asif N' profile</h4>
            <p class="profile-summary">blah blah yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak </p>
          </div>

        <center>
          <div class="col-md-2">
            <img src="speakers/ashton.png" onmouseover="this.src='/speakers/ashton2.png'" onmouseout="this.src='/speakers/ashton.png'"  class="photo" alt="">
          </div>
        </center>
          <div class="col-md-4">
            <h4 class="profile">Ashton S' profile</h4>
            <p class="profile-summary">blah blah yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak </p>
          </div>
      </div>

      <div class="row">
        <center>
          <div class="col-md-2">
            <img src="/x.gif" class="photo" alt="">
          </div>
        </center>
          <div class="col-md-4">
            <h4 class="profile">Bono's profile</h4>
            <p class="profile-summary">blah blah yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak</p>
          </div>
        <center>
          <div class="col-md-2">
            <img src="/speakers/greg.png" onmouseover="this.src='/speakers/greg2.png'" onmouseout="this.src='/speakers/greg.png'" class="photo" alt="">
          </div>
        </center>
          <div class="col-md-4">
            <h4 class="profile">Gregory Fernandes</h4>
            <p class="profile-summary">Greg is a Java Developer, an ethusiastic web developer and an avid sketcher 'n' fine artist. When he's not hitting keys, he is dabbling with paint. He has 10,500 followers on his Fb art page in 3 months.</p>
          </div>
      </div>

      <div class="row">
        <center>
          <div class="col-md-2">
            <img src="/x.gif" class="photo" alt="">
          </div>
        </center>
          <div class="col-md-4">
            <h4 class="profile">Ravi's profile</h4>
            <p class="profile-summary">blah blah yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak </p>
          </div>
        <center>
          <div class="col-md-2">
            <img src="/x" class="photo" alt="">
          </div>
        </center>
          <div class="col-md-4">
            <h4 class="profile">x' profile</h4>
            <p class="profile-summary">blah blah yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak yak! yakety yak</p>
          </div>
      </div>
    </div>

  </div> -->


<!--AGENDA -->
<div class="wrapper1" id="schedule-box">
  <div class="container" >
      <center>
        <h1>AGENDA</h1>
      </center>
        <section id="timeline">
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">09 : 00</span>
                </span>
                <img class="headshot_left" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRJNyCWvq98c24ZJznhyuSaJO8bd2A5uGfYu1q49HCVngCEzHNX">
                <h2>This is the END?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">09 : 30</span>
                </span>
                <img class="headshot_right" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRJNyCWvq98c24ZJznhyuSaJO8bd2A5uGfYu1q49HCVngCEzHNX">
                <h2>The Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">09 : 30</span>
                </span>
                <img class="headshot_left" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRJNyCWvq98c24ZJznhyuSaJO8bd2A5uGfYu1q49HCVngCEzHNX">
                <h2>The Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">09 : 00</span>
                </span>
                <img class="headshot_left" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRJNyCWvq98c24ZJznhyuSaJO8bd2A5uGfYu1q49HCVngCEzHNX">
                <h2>This is the END?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">09 : 30</span>
                </span>
                <img class="headshot_left" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRJNyCWvq98c24ZJznhyuSaJO8bd2A5uGfYu1q49HCVngCEzHNX">
                <h2>The Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">09 : 30</span>
                </span>
                <img class="headshot_right" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRJNyCWvq98c24ZJznhyuSaJO8bd2A5uGfYu1q49HCVngCEzHNX">
                <h2>The Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
              </div>
            </article>
      </section>
  </div>
</div>

<!--EVENTS -->



<!--TWITTER FEED -->

<div class="container-fluid" id="twitter-feed">
  <div class="col-md-12" >

    <!--Buy Tickets  -->
    <div class="wrapper">


      <div id="tickets-page">
        <!-- <img src="/Ticket-background.png" class="img-responsive" id="tickets-image" alt="Responsive image"> -->
        <!--<div class="sol-sm-12" id="welcome">
          <h1 id="text">Welcome to WDIConf</h1>
        </div>
        <div class="sol-sm-12" id="location col-md-offset-6">
          <h6 id="text">Melbourne</h6>
        </div>
      </div>  -->
        <div class="col-md-10 ticket-heading-style"   >

          <center>
            <h1>TICKETS</h1>
          </center>

          <div class="row">
            <center>
              <div class="col-md-4">
                <h2 id="tickets-text">$80</h2>
                <h4>Gold Seats</h4>
              </div>
              <div class="col-md-4">
                <h2 id="tickets-text">$60</h2>
                <h4>Silver Seats</h4>
              </div>
              <div class="col-md-4">
                <h2 id="tickets-text">$40</h2>
                <h4>Bronze Seats</h4>
              </div>
            </center>
          </div>




          <center>
            <h1>PLAY THE SEATS GAME</h1>
          </center>


          <div class="row" id="egg-box">
            <div class="col-md-4" class="egg-intro-box">
              <center>
                <h6>1 Golden Egg = 1 FREE ticket!</h6>
                <img src="/eggs/egg-gold-ribbon.png" class="egg-intro">
                <h6>2 chances to win!</h6>
              </center>
            </div>
              <center>
                <div class="col-md-4"  class="egg-intro-box">
                  <h6>1 Golden Egg = 50% discount on 1 ticket!</h6>
                  <img src="/eggs/egg-red-salted.png" class="egg-intro">
                  <h6>10 chances to win!</h6>
                </div>
              </center>
            <div class="col-md-4"  class="egg-intro-box">
              <center>
                <h6>1 Golden Egg = 25% discount on 1 ticket!</h6>
                <img src="/eggs/egg-rainbow.gif" class="egg-intro">
                <h6>20 chances to win!</h6>
              </center>
            </div>
            <br><br><br><br><br>
          </div>

          <div class="row">
            <center>
              <div class="col-md-12">
                <a href="/seats">
                  <button type="button" class="btn btn-primary play-game-btn">PLAY GAME or BUY TICKETS</button>
                </a>
              </div>
            </center>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<!--SPONSORS -->

<!--CONTACT US -->
<div class="container" id="contacts-page">
    <!-- <img src="/image-city.jpg" class="img-responsive" id="tickets-image" alt="Responsive image"> -->
        <div id="map-box" class="col-md-6">
          <div class='conf-map'></div>
        </div>
        <div id="contacts-heading col-md-12">
          <div class="contact-us col-md-6">
            <h3 id="tickets-text">CONTACT</h3>
            <h4>WDI4 Famous 5</h4>
            <h4>45 William Street,</h4>
            <h4>Melbourne, VIC 3000</h4>
            <h4>Phone: 04 9999 9999</h4>
          </div>
          <div class="col-md-6" >
              <center>
                <a class="twitter-timeline" href="https://twitter.com/wdi_conf" data-widget-id="674074414707699712">Tweets by @wdi_conf</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </center>
          </div>
        </div>

    </div>
</div>
</div>
