    <!--Main Content -->

<div id="home">
  <div id="stage">
    <!-- <img src="/stage-aquablue2.jpg" class="img-responsive" id="stage-image" alt="Responsive image"> -->
    <!--<img src="/stage-yellow.jpg" class="img-responsive" id="stage-image" alt="Responsive image">-->
  <!-- <div class="container" id="wdi-heading"> -->
  <div class="row">
      <div class="col-md-6 app-info">
        <!-- <h1 id="wdi-conf-text">WDI4 Conf</h1> -->
        <img id="wdi-conf-text" src="assets/wdi4conf_logo outline.png" alt="">
        <!--<h3>...where impossible is nothing.</h3> -->
        <h4>45 William St, Melbourne</h4>
        <h4>Friday 10:00 to 18:00</h4>
        <h4 id="time"></h4>
        <a href="/seats"><button class="btn btn-info buy-btn">Buy Ticket</button></a>
        <br><br><br><br>
        <a class="arrow" href="#speakers">
          <img src="down-arrow.png" id="down-arrow">
        </a>
    </div>
  </div>
 </div>
</div>

<!--SPEAKERS -->
<div class="container" id="speaker">
<div id="about-speakers">
  <a name="speakers"></a>
  <div class="container" >

      <center>
        <h1>SPEAKERS</h1>
      </center>

      <div class="color-list">

        <section class="color">
          <h2 class="name">Asep Norzai</h2>
          <div class="row">
            <div class="col-md-6">
              <img src="/speakers/bono.png" onmouseover="this.src='/speakers/bono.png'" onmouseout="this.src='/speakers/bono.png'" class="photo" alt="">
               <p class="sneak-peak">A Ninjaut labore et dolore magna aliqua.</p>
            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Gregory Fernandes</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="/speakers/greg.png" onmouseover="this.src='/speakers/greg2.png'" onmouseout="this.src='/speakers/greg.png'" class="photo" alt="">
              <p class="sneak-peak" >A Ninjaut labore et dolore magna aliqua.</p>
            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Greg is a Java Developer, an ethusiastic web developer and an avid sketcher 'n' fine artist. When he's not hitting keys, he is dabbling with paint. He has 10,500 followers on his Fb art page in 3 months.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Bono Liu</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="/speakers/bono.png" onmouseover="this.src='/speakers/bono.png'" onmouseout="this.src='/speakers/bono.png'" class="photo" alt="">
              <p class="sneak-peak" >A Ninjaut labore et dolore magna aliqua.</p>
            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Ravi C</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="/speakers/bono.png" onmouseover="this.src='/speakers/bono.png'" onmouseout="this.src='/speakers/bono.png'" class="photo" alt="">
               <p class="sneak-peak">A Ninjaut labore et dolore magna aliqua.</p>
            </div>
          </div>
            <ul class="details">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Ashton S</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="speakers/ashton.png" onmouseover="this.src='/speakers/ashton2.png'" onmouseout="this.src='/speakers/ashton.png'"  class="photo" alt="">
            <p class="sneak-peak" >A Ninjaut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <ul class="details">
            <p class="profile-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </ul>
        </section>
      </div>
  <div class="color-list">
        <section class="color">
          <h2 class="name">Helen Habakuk</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="http://lorempixel.com/400/400/animals/" class="photo" alt="">
              <p class="sneak-peak">A Ninjaut labore et dolore magna aliqua.</p>
            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Keryn Robinson</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="http://lorempixel.com/400/400/cats/1" class="photo" alt="">
             <p class="sneak-peak"  >A Ninjaut labore et dolore magna aliqua.</p>
            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Aviel Goh</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="http://lorempixel.com/400/400/technics/" class="photo" alt="">
              <p class="sneak-peak">A Ninjaut labore et dolore magna aliqua.</p>
            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Kylie Sy</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="http://lorempixel.com/400/400/cats/" class="photo" alt="">
               <p class="sneak-peak">A Ninjaut labore et dolore magna aliqua.</p>
            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Ivan Yapeter</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="http://lorempixel.com/400/400/nature/" class="photo" alt="">
              <p  class="sneak-peak">A Ninjaut labore et dolore magna aliqua.</p>
            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </ul>
        </section>
      <br>
        <section class="color">
          <h2 class="name">Tobias Letcher</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="http://lorempixel.com/400/400/food/" class="photo" alt="">
           <p class="sneak-peak">A Ninjaut labore et dolore magna aliqua.</p>
            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </ul>
        </section>
      </div>
    </div>
  </div>

<!--AGENDA -->
<div class="wrapper1 container-fluid" id="schedule-box">
  <div class="container" >
      <center>
        <h1>AGENDA</h1>
      </center>
        <section id="timeline">
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">09 : 00</span>
                </span>
                <img class="headshot_left" src="http://lorempixel.com/400/400/animals/">
                <h2>This is the END?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. </p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">09 : 30</span>
                </span>
                <img class="headshot_right" src="/speakers/greg.png">
                <h2>Which came first? Chicken OR EGG?</h2>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">10 : 00</span>
                </span>
                <img class="headshot_left" src="http://lorempixel.com/400/400/animals/">
                <h2>Which came first? Chicken OR EGG?</h2>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">10 : 30</span>
                </span>
                <img class="headshot_left" src="http://lorempixel.com/400/400/animals/">
                <h2>This is the END?</h2>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">11 : 00</span>
                </span>
                <img class="headshot_left" src="speakers/ashton.png">
                <h2>Which came first? Chicken OR EGG?</h2>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">11 : 30</span>
                </span>
                <img class="headshot_right" src="http://lorempixel.com/400/400/animals/">
                <h2>Which came first? Chicken OR EGG?</h2>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">12 : 00</span>
                </span>
                <img class="headshot_right" src="http://lorempixel.com/400/400/cats/1">
                <h2>Which came first? Chicken OR EGG?</h2>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">12 : 30</span>
                </span>
                <img class="headshot_right" src="http://lorempixel.com/400/400/cats/">
                <h2>Which came first? Chicken OR EGG?</h2>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">01 : 00</span>
                </span>
                <img class="headshot_right" src="http://lorempixel.com/400/400/sports/">
                <h2>Which came first? Chicken OR EGG?</h2>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">01 : 30</span>
                </span>
                <img class="headshot_right" src="http://lorempixel.com/400/400/technics/">
                <h2>Which came first? Chicken OR EGG?</h2>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">02 : 00</span>
                </span>
                <img class="headshot_right" src="http://lorempixel.com/400/400/food/">
                <h2>Which came first? Chicken OR EGG?</h2>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </article>
      </section>
  </div>
</div>

<!--EVENTS -->



<!--TWITTER FEED -->

<div class="container-fluid" id="twitter-feed">
  <!-- <div class="col-md-12" > -->

    <!--Buy Tickets  -->
    <div class="wrapper">


      <div id="tickets-page">
        <!-- <img src="/Ticket-background.png" class="img-responsive" id="tickets-image" alt="Responsive image"> -->
        <!--<div class="sol-sm-12" id="welcome">
          <h1 id="text">Welcome to WDIConf</h1>
        </div>
        <div class="sol-sm-12" id="location col-md-offset-6">
          <h6 id="text">Melbourne</h6>
        </div>
      </div>  -->
        <div class="col-md-10 ticket-heading-style" id="tickets"  >


          <center>
            <h1>TICKETS</h1>
          </center>

          <div class="row">
            <center>
              <div class="col-md-4">
                <h2 id="tickets-text">$80</h2>
                <h4>Gold Seats</h4>
              </div>
              <div class="col-md-4">
                <h2 id="tickets-text">$60</h2>
                <h4>Silver Seats</h4>
              </div>
              <div class="col-md-4">
                <h2 id="tickets-text">$40</h2>
                <h4>Bronze Seats</h4>
              </div>
            </center>
          </div>
          <center>
            <h1>PLAY THE SEATS GAME</h1>
          </center>
          <div class="row" id="egg-box">
            <div class="col-md-4" class="egg-intro-box">
              <center>
                <h6>1 Golden Egg = 1 FREE ticket!</h6>
                <h6>2 chances to win!</h6>
              </center>
            </div>
              <center>
                <div class="col-md-4"  class="egg-intro-box">
                  <h6>1 Golden Egg = 50% discount on 1 ticket!</h6>
                  <h6>10 chances to win!</h6>
                </div>
              </center>
            <div class="col-md-4"  class="egg-intro-box">
              <center>
                <h6>1 Golden Egg = 25% discount on 1 ticket!</h6>
                <h6>20 chances to win!</h6>
              </center>
            </div>
            <br><br><br><br><br>
          </div>

          <div class="row">
            <center>
              <div class="col-md-12">
                <a href="/seats">
                  <button type="button" class="btn btn-primary play-game-btn">PLAY GAME or BUY TICKETS</button>
                </a>
              </div>
            </center>
          </div>

        </div>
      </div>
    </div>
</div>



<!--SPONSORS -->
<div class="container-fulid sponsors">
  <h2>Our Generious Sponsers</h2>
  <div class="row">
    <div class="col-lg-2 col-sm-3 img-responsive"><img src="https://assets.entrepreneur.com/slideshow/general-assembly.jpg" alt=""></div>
    <div class="col-lg-2 col-sm-6 img-responsive"><img src="http://i.stack.imgur.com/Mmww2.png" alt=""></div>
    <div class="col-lg-2 col-sm-6 img-responsive"><img src="https://www.harrywhelchel.com/content/images/2015/10/rails-1.png" alt=""></div>
    <div class="col-lg-2 col-sm-6 img-responsive"><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt=""></div>
    <div class="col-lg-2 col-sm-6 img-responsive"><img src="https://twitter.github.io/typeahead.js/img/twitter-logo.png" alt=""></div>
    <div class="col-lg-2 col-sm-6 img-responsive"><img src="http://cdn.wccftech.com/wp-content/uploads/2015/09/Google-logo.png" alt=""></div>
    <div class="col-lg-2 col-sm-6 img-responsive"><img src="https://d21buns5ku92am.cloudfront.net/34298/images/121070-72193bc2-79bc-4ca3-92cd-b52b7e9647b3-logo_transparent-medium-1391574197.png" alt=""></div>
  </div>
</div>
<!--CONTACT US -->
<div class="container" id="contacts-page">
    <!-- <img src="/image-city.jpg" class="img-responsive" id="tickets-image" alt="Responsive image"> -->
      <h2>Contact Us</h2>
        <div id=" col-md-12">
          <!-- <div class="contact-us">
            <h3 id="tickets-text">CONTACT</h3>
            <h4>WDI4 Famous 5</h4>
            <h4>45 William Street,</h4>
            <h4>Melbourne, VIC 3000</h4>
            <h4>Phone: 04 9999 9999</h4>
          </div> -->
          <div class="twitter col-md-6" >
            <a class="twitter-timeline" href="https://twitter.com/wdi_conf" data-widget-id="674074414707699712">Tweets by @wdi_conf</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            <!-- <h1>VOTE For The Best</h1>
            <div class="col-md-10">
              <button class="btn btn-warning">Blah?</button>
              <button class="btn btn-warning">Bablah?</button>
            </div> -->
          </div>

        </div>

        <div id="map-box" class="col-md-4">
          <div class='conf-map'></div>
        </div>

    </div>
</div>
</div>
