<div id="home">

  <div class="row">
    <center>
        <!-- <h1 id="wdi-conf-text">WDI4 Conf</h1> -->
        <img id="wdi-conf-logo" src="/images/wdi4conf_logo_outline.png" alt="">
        <!--<h3>...where impossible is nothing.</h3> -->
        <h4 id="address">45 William St, Melbourne</h3>
        <h4 id="date-time">Friday Dec 11 2015, 10:00 to 18:00</h4>
        <h4 id="time"></h4>
        <br>
        <a href="/seats"><button class="btn btn-info buy-btn">Buy Tickets</button></a>
        <br><br><br><br>

        <a id="down-arrow" href="#speakers">
          <img src="/images/down-arrow.png" id="down-arrow">
        </a>
        <br><br>
    </center>
  </div>

</div>


<hr class="soften" >

<!-- OLD SPEAKERS -->
<!-- <div class="container" id="speaker">
<div id="about-speakers">
  <a name="speakers"></a>
  <div class="container" >

      <center>
        <h1 class="section-title" >SPEAKERS</h1>
      </center>

      <div class="color-list">

        <section class="color">
          <h2 class="name">Asep N</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="/images/speakers/asep.png" onmouseover="this.src='/images/speakers/asep2.png'" onmouseout="this.src='/images/speakers/asep.png'" class="photo" alt="">

            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Asep is a multitasker and an aspiring space traveller.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Gregory F</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="/images/speakers/greg.png" onmouseover="this.src='/images/speakers/greg2.png'" onmouseout="this.src='/images/speakers/greg.png'" class="photo" alt="">

            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Greg is a coder, a gaming enthusiast and a fine artist & sketcher.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Bono L</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="/images/speakers/bono.png" onmouseover="this.src='/images/speakers/bono2.png'" onmouseout="this.src='/images/speakers/bono.png'" class="photo" alt="">

            </div>
          </div>
            <ul class="details">

              <p class="profile-summary">An innovative web developer and an experienced project manager in the energy industry. </p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Ravi C</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="/images/speakers/ravi.png" onmouseover="this.src='/images/speakers/ravi2.png'" onmouseout="this.src='/images/speakers/ravi.png'" class="photo" alt="">

            </div>
          </div>
            <ul class="details">
              <p>An avid internet surfer who keeps in touch with the latest in technology. </p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Ashton S</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="/images/speakers/ashton.png" onmouseover="this.src='/images/speakers/ashton2.png'" onmouseout="this.src='/images/speakers/ashton.png'"  class="photo" alt="">

            </div>
          </div>
          <ul class="details">
            <p class="profile-summary">A programmer and an avid reader.</p>
          </ul>
        </section>
      </div>
  <div class="color-list">
        <section class="color">
          <h2 class="name">Helen H</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="/images/speakers/helen.png" onmouseover="this.src='/images/speakers/helen2.png'" onmouseout="this.src='/images/speakers/helen.png'"  class="photo" alt="">

            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Helen is a design consultant and an aspiring video shooter.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Keryn R</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="/images/speakers/keryn.png" onmouseover="this.src='/images/speakers/keryn2.png'" onmouseout="this.src='/images/speakers/keryn.png'"  class="photo" alt="">

            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Keryn is a Designer/Coder and artist.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Aviel G</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="/images/speakers/aviel.png" onmouseover="this.src='/images/speakers/aviel2.png'" onmouseout="this.src='/images/speakers/aviel.png'"  class="photo" alt="">

            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Aviel is a web developer and loves travelling!</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Kylie Sy</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="/images/speakers/kyle.png" onmouseover="this.src='/images/speakers/kyle2.png'" onmouseout="this.src='/images/speakers/kyle.png'"  class="photo" alt="">

            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Kylie is a cat lover and a coder.</p>
          </ul>
        </section>

        <section class="color">
          <h2 class="name">Ivan Y</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="/images/speakers/ivan.png" onmouseover="this.src='/images/speakers/ivan2.png'" onmouseout="this.src='/images/speakers/ivan.png'"  class="photo" alt="">

            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Ivan is a connoisseur of coffee and soon to be anonymous hacker.</p>
          </ul>
        </section>
      <br>
        <section class="color">
          <h2 class="name">Tobias L</h2>
          <div class="row">
            <div class="col-md-8">
              <img src="/images/speakers/toby.png" onmouseover="this.src='/images/speakers/toby2.png'" onmouseout="this.src='/images/speakers/toby.png'"  class="photo" alt="">

            </div>
          </div>
            <ul class="details">
              <p class="profile-summary">Toby is a hominid with a Turing Machine.</p>
          </ul>
        </section>
      </div>
    </div>
  </div>    -->


<!-- NEW SPEAKERS -->
<div class="container" id="new-speakers">
<div id="about-speakers">
  <a name="speakers"></a>
  <div class="container" >

      <center>
        <h1 class="section-title" >SPEAKERS</h1>
      </center>

      <div class="speaker-row">

        <div class="row">

          <div class="col-md-2">
            <div class="speaker-box">
              <h2 class="speaker-name" >Asep N</h2>
              <center><img src="/images/speakers/asep.png" onmouseover="this.src='/images/speakers/asep2.png'" onmouseout="this.src='/images/speakers/asep.png'" class="speaker-photo" alt=""></center>
              <p class="profile-summary">Asep is a multitasker and an aspiring space traveller.</p>
            </div>
          </div>

          <div class="col-md-1">
          </div>
        
          <div class="col-md-2">
            <div class="speaker-box">
              <h2 class="speaker-name">Gregory F</h2>
              <center><img src="/images/speakers/greg.png" onmouseover="this.src='/images/speakers/greg2.png'" onmouseout="this.src='/images/speakers/greg.png'" class="speaker-photo" alt=""></center>
              <p class="profile-summary">Greg is a coder, a gaming enthusiast and a fine artist & sketcher.</p>
            </div>
          </div>

          <div class="col-md-1">
          </div>

          <div class="col-md-2">
            <div class="speaker-box">
              <h2 class="speaker-name">Bono L</h2>
              <center><img src="/images/speakers/bono.png" onmouseover="this.src='/images/speakers/bono2.png'" onmouseout="this.src='/images/speakers/bono.png'" class="speaker-photo" alt=""></center>
              <p class="profile-summary">An innovative web developer and an experienced project manager.</p>
            </div>
          </div>

          <div class="col-md-1">
          </div>

          <div class="col-md-2">
            <div class="speaker-box">
              <h2 class="speaker-name">Ravi C</h2>
              <center><img src="/images/speakers/ravi.png" onmouseover="this.src='/images/speakers/ravi2.png'" onmouseout="this.src='/images/speakers/ravi.png'" class="speaker-photo" alt=""></center>
              <p class="profile-summary">An avid internet surfer in touch with the latest in technology. </p>
            </div>
          </div>

          <div class="col-md-1">
          </div>

        </div>

        <div class="row">

          <div class="col-md-2">
            <div class="speaker-box">
              <h2 class="speaker-name" >Ashton</h2>
              <center><img src="/images/speakers/ashton.png" onmouseover="this.src='/images/speakers/ashton2.png'" onmouseout="this.src='/images/speakers/ashton.png'"  class="speaker-photo" alt=""></center>
              <p class="profile-summary">A programmer and an avid reader.</p>
            </div>
          </div>

          <div class="col-md-1">
          </div>
        
          <div class="col-md-2">
            <div class="speaker-box">
              <h2 class="speaker-name">Helen H.</h2>
              <center><img src="/images/speakers/helen.png" onmouseover="this.src='/images/speakers/helen2.png'" onmouseout="this.src='/images/speakers/helen.png'"  class="speaker-photo" alt=""></center>
              <p class="profile-summary">Helen is a design consultant and an aspiring video shooter.</p>
            </div>
          </div>

          <div class="col-md-1">
          </div>

          <div class="col-md-2">
            <div class="speaker-box">
              <h2 class="speaker-name">Keryn R.</h2>
              <center><img src="/images/speakers/keryn.png" onmouseover="this.src='/images/speakers/keryn2.png'" onmouseout="this.src='/images/speakers/keryn.png'"  class="speaker-photo" alt=""></center>
              <p class="profile-summary">Keryn is a Designer/Coder and artist.</p>
            </div>
          </div>

          <div class="col-md-1">
          </div>

          <div class="col-md-2">
            <div class="speaker-box">
              <h2 class="speaker-name">Aviel G.</h2>
              <center><img src="/images/speakers/aviel.png" onmouseover="this.src='/images/speakers/aviel2.png'" onmouseout="this.src='/images/speakers/aviel.png'"  class="speaker-photo" alt=""></center>
              <p class="profile-summary">Aviel is a web developer and loves travelling!</p>
            </div>
          </div>

          <div class="col-md-1">
          </div>

        </div>


        <div class="row">

          <div class="col-md-1">
          </div>

          <div class="col-md-2">
            <div class="speaker-box">
              <h2 class="speaker-name" >Kylie S.</h2>
              <img src="/images/speakers/kyle.png" onmouseover="this.src='/images/speakers/kyle2.png'" onmouseout="this.src='/images/speakers/kyle.png'"  class="speaker-photo" alt="">
              <p class="profile-summary">Kylie is a cat lover and a coder.</p>
            </div>
          </div>

          <div class="col-md-1">
          </div>
        
          <div class="col-md-2">
            <div class="speaker-box">
              <h2 class="speaker-name">Ivan Y.</h2>
              <img src="/images/speakers/ivan.png" onmouseover="this.src='/images/speakers/ivan2.png'" onmouseout="this.src='/images/speakers/ivan.png'"  class="speaker-photo" alt="">
              <p class="profile-summary">Ivan is a connoisseur of coffee and soon to be anonymous hacker.</p>
            </div>
          </div>

          <div class="col-md-1">
          </div>

          <div class="col-md-2">
            <div class="speaker-box">
              <h2 class="speaker-name">Tobias L.</h2>
              <img src="/images/speakers/toby.png" onmouseover="this.src='/images/speakers/toby2.png'" onmouseout="this.src='/images/speakers/toby.png'"  class="speaker-photo" alt="">
              <p class="profile-summary">Toby is a hominid with a Turing Machine.</p>
            </div>
          </div>

          <div class="col-md-1">
          </div>

        </div>



      </div>

    </div>
  </div>
</div>

<!--AGENDA -->
<a name="schedule"></a>
<div class="wrapper1 container-fluid" id="schedule-box">
  <div class="container" >
      <center>
        <h1  class="section-title" >SCHEDULE</h1>
      </center>
        <section id="timeline">
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">09 : 00</span>
                </span>
                <img class="headshot_left asep" src="/images/speakers/asep2.png">
                <h2>ANGULAR</h2>
                <p>Will speak on the basics of Angular.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">09 : 30</span>
                </span>
                <img class="headshot_right" src="/images/speakers/greg2.png">
                <h2>CODE a Jumpy Piranha</h2>
                <p>How to code a "Jumpy Piranha" game in 10 minutes with Rails and Phaser gem</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">10 : 00</span>
                </span>
                <img class="headshot_left" src="/images/speakers/bono2.png">
                <h2>Life Model From Waterfall to Agile</h2>
                <p>Spending 50% fo you time on planing and design or get progressing every sprint? That's your choice! </p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">10 : 30</span>
                </span>
                <img class="headshot_left" src="/images/speakers/ravi2.png">
                <h2>Technology Trends</h2>
                <p>Will walk us through his favourite bookmarks on latest technologies.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">11 : 00</span>
                </span>
                <img class="headshot_left" src="/images/speakers/ashton2.png">
                <h2>The vanishing act?</h2>
                <p>Some of his favourite books and all about reading.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">11 : 30</span>
                </span>
                <img class="headshot_right" src="/images/speakers/helen2.png">
                <h2>How we are connected</h2>
                <p>How we are all connected and social networks.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">12 : 00</span>
                </span>
                <img class="headshot_right" src="/images/speakers/keryn2.png">
                <h2>Hacking for humanity</h2>
                <p>Keryn will talk about what she learned at her first weekend 'hackathon'.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">12 : 30</span>
                </span>
                <img class="headshot_right" src="/images/speakers/aviel2.png">
                <h2>At the client site</h2>
                <p>Experiences and tips on working with clients.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">01 : 00</span>
                </span>
                <img class="headshot_right" src="/images/speakers/kyle2.png">
                <h2>Having an open mind</h2>
                <p>Importance of being open to different ideas.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">01 : 30</span>
                </span>
                <img class="headshot_right" src="/images/speakers/ivan2.png">
                <h2>Coding in CSS3</h2>
                <p>...with examples from codepen.</p>
              </div>
            </article>
            <article>
              <div class="inner">
                <span class="date">
                  <br>
                  <span class="month">02 : 00</span>
                </span>
                <img class="headshot_right" src="/images/speakers/toby2.png">
                <h2>The prisoners dilemma</h2>
                <p>What is the prisoners dilemma?</p>
              </div>
            </article>
      </section>
  </div>
</div>

<hr class="soften" >

<!-- TICKETS -->
<a name="tickets"></a>
<div class="container-fluid" id="tickets-section">

    <div class="wrapper">


        <!-- <img src="/Ticket-background.png" class="img-responsive" id="tickets-image" alt="Responsive image"> -->
        <!--<div class="sol-sm-12" id="welcome">
          <h1 id="text">Welcome to WDIConf</h1>
        </div>
        <div class="sol-sm-12" id="location col-md-offset-6">
          <h6 id="text">Melbourne</h6>
        </div>
      </div>  -->
      <center>
        <div class="col-md-12 ticket-heading-style" id="tickets"  >


          <center>
            <h1 class="section-title" >TICKETS</h1>
          </center>

          <div class="row">
            <center>
              <div class="col-md-4">
                <h2 class="tickets-text">$80</h2>
                <h4 class="yellow-text" >Gold Seats</h4>
              </div>
              <div class="col-md-4">
                <h2 class="tickets-text">$60</h2>
                <h4 class="yellow-text" >Silver Seats</h4>
              </div>
              <div class="col-md-4">
                <h2 class="tickets-text">$40</h2>
                <h4 class="yellow-text" >Bronze Seats</h4>
              </div>
            </center>
          </div>
          <center>
            <h1 class="section-title" >PLAY THE SEATS GAME</h1>
          </center>
          <div class="row" id="egg-box">
            <div class="col-md-4" class="egg-intro-box">
              <center>
                <h6 class="yellow-text" >1 Golden Egg = 1 FREE ticket!</h6>
                <h6 class="yellow-text" >2 chances to win!</h6>
              </center>
            </div>
              <center>
                <div class="col-md-4"  class="egg-intro-box">
                  <h6 class="yellow-text" >1 Golden Egg = 50% discount on 1 ticket!</h6>
                  <h6 class="yellow-text" >10 chances to win!</h6>
                </div>
              </center>
            <div class="col-md-4"  class="egg-intro-box">
              <center>
                <h6 class="yellow-text" >1 Golden Egg = 25% discount on 1 ticket!</h6>
                <h6 class="yellow-text" >20 chances to win!</h6>
              </center>
            </div>
            <br><br><br><br><br>
          </div>

          <div class="row">
            <center>
              <div class="col-md-12">
                <a href="/seats">
                  <button type="button" class="btn btn-primary play-game-btn">PLAY GAME or BUY TICKETS</button>
                </a>
              </div>
            </center>
          </div>

        </div>

      </center>


    </div>
</div>

<hr class="soften" >

<!--TWITTER FEED -->
<a name="twitterfeed"></a>
<center>
  <h1 class="section-title" >TWITTER FEED</h1>
</center>

<div id=" col-md-12">
  <div class="col-md-1">
  </div>
  <div class="twitter col-md-4" >
    <a class="twitter-timeline" href="https://twitter.com/wdi_conf" data-widget-id="674074414707699712">Tweets by @wdi_conf</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <!-- <h1>VOTE For The Best</h1>
    <div class="col-md-10">
      <button class="btn btn-warning">Blah?</button>
      <button class="btn btn-warning">Bablah?</button>
    </div> -->
  </div>
  <div class="col-md-6 after-party">
    <center><img id="event-party" src="https://blog.generalassemb.ly/blog/wp-content/uploads/2013/08/IMG_1535-624x416.jpg" alt=""></center>
  </div>

</div>

<br>

<hr class="soften" >

<!--SPONSORS -->
<a name="sponsors"></a>
<div class="container-fulid sponsors">
  <center><h3  class="section-title" >OUR SPONSORS</h3></center>
  <center><div class="row">
    <div  class="sponsor col-md-2"></div>
    <div  class="sponsor col-md-2"><img src="/images/sponsors/general-assembly.jpg" alt=""></div>
    <div class="sponsor col-md-2"><img src="/images/sponsors/Mmww2.png" alt=""></div>
    <div class="sponsor col-md-2"><img src="/images/sponsors/rails-1.png" alt=""></div>
    <div class="sponsor col-md-2"><img src="/images/sponsors/GitHub-Mark.png" alt=""></div>
    <div class="sponsor col-md-2"><img src="/images/sponsors/twitter-logo.png" alt=""></div>
    <div  class="sponsor col-md-2"></div>
    <div class="sponsor col-md-2"><img src="/images/sponsors/Google-logo.png" alt=""></div>
  </div></center>
</div>

<hr class="soften" >

<!--CONTACT US -->
<a name="contact"></a>
<div class="container" id="contacts-page">
    <!-- <img src="/image-city.jpg" class="img-responsive" id="tickets-image" alt="Responsive image"> -->
      <h1  class="section-title" >CONTACT US</h1>

        <div id="map-box" class="col-md-4">
          <div class='conf-map'></div>
        </div>

</div>

</div>
</div>















