
<!--Buy Tickets  -->
<div class="wrapper">


  <div id="tickets-page">
    <!-- <img src="/Ticket-background.png" class="img-responsive" id="tickets-image" alt="Responsive image"> -->
    <!--<div class="sol-sm-12" id="welcome">
      <h1 id="text">Welcome to WDIConf</h1>
    </div>
    <div class="sol-sm-12" id="location col-md-offset-6">
      <h6 id="text">Melbourne</h6>
    </div>
  </div>  -->
    <div class="col-md-10 ticket-heading-style"   >

      <center>
        <h1>TICKETS</h1>
      </center>

      <div class="row">
        <center>
          <div class="col-md-4">
            <h2 id="tickets-text">$80</h2>
            <h4>Gold Seats</h4>
          </div>
          <div class="col-md-4">
            <h2 id="tickets-text">$60</h2>
            <h4>Silver Seats</h4>
          </div>
          <div class="col-md-4">
            <h2 id="tickets-text">$40</h2>
            <h4>Bronze Seats</h4>
          </div>
        </center>
      </div>




      <center>
        <h1>PLAY THE SEATS GAME</h1>
      </center>


      <div class="row" id="egg-box">
        <div class="col-md-4" class="egg-intro-box">
          <center>
            <h6>1 Golden Egg = 1 FREE ticket!</h6>
            <img src="/eggs/egg-gold-ribbon.png" class="egg-intro">
            <h6>2 chances to win!</h6>
          </center>
        </div>
          <center>
            <div class="col-md-4"  class="egg-intro-box">
              <h6>1 Golden Egg = 50% discount on 1 ticket!</h6>
              <img src="/eggs/egg-red-salted.png" class="egg-intro">
              <h6>10 chances to win!</h6>
            </div>
          </center>
        <div class="col-md-4"  class="egg-intro-box">
          <center>
            <h6>1 Golden Egg = 25% discount on 1 ticket!</h6>
            <img src="/eggs/egg-rainbow.gif" class="egg-intro">
            <h6>20 chances to win!</h6>
          </center>
        </div>
        <br><br><br><br><br>
      </div>

      <div class="row">
        <center>
          <div class="col-md-12">
            <a href="/seats">
              <button type="button" class="btn btn-primary play-game-btn">PLAY GAME or BUY TICKETS</button>
            </a>
          </div>
        </center>
      </div>

    </div>
  </div>
</div>


<div class="wrapper">
  <div class="container" id="seats-big-box">
    <div class="row">
      <div class="col-md-9" id="seats-game">
        <h4 id="seat-game-title">SEAT SELECTION</h4>
      </div>
      <div class="col-md-3" id="pricing-table">
        <center>
          <h4 id="pricing-title">PRICING</h4>
        <center>
      </div>
    </div>
  </div>

  <div class="container" id="legend">
    <div class="row">

      <div class="col-md-1">
        <img src="/eggs/egg-gold-chair.png"  class="eggs-legend">
      </div>
      <div class="col-md-2">
        <p  class="eggs-legend-text"><--FREE Ticket!!</p>
      </div>
      <div class="col-md-1">
        <img src="/eggs/egg-red-chair.png"  class="eggs-legend">
      </div>
      <div class="col-md-2">
        <p  class="eggs-legend-text"><--50% Discount</p>
      </div>
      <div class="col-md-1">
        <img src="/eggs/egg-rainbow-chair.gif"  class="eggs-legend">
      </div>
      <div class="col-md-2">
        <p  class="eggs-legend-text"><--25% Discount</p>
      </div>

      <div class="col-md-3" id="pricing-legend">
        <center>
          <p id="pricing-title">10 or more tickets = 10% discount</p>
          <p id="pricing-title">5 or more tickets = 5% discount</p>
        <center>
      </div>
    </div>
  </div>

  <div class="container" id="seats-enclosure">
    <div class="row">
      <div class="col-md-9" id="seats">
        <h4 id="seat-game-title">SEATS TO BE DRAWN HERE</h4>
      </div>
      <div class="col-md-3" id="pricing">
        <center>
          <h4 id="pricing-title">PRICING CALCULATIONS HERE</h4>
        <center>
      </div>
    </div>
  </div>


</div>









<br><br>
<center>
  <a href="/payment">
    <button class="btn btn-warning">Proceed to payment</button>
  </a>
</center>
