
<br>

<div class="wrapper">
  <div class="container" id="seats-big-box">
    <div class="row">
      <div class="col-md-9" id="seats-game">
        <h4 id="seat-game-title">SEAT SELECTION</h4>
      </div>
      <div class="col-md-3" id="pricing-table">
        <center>
          <h4 id="pricing-title">PRICING</h4>
        <center>
      </div>
    </div>
  </div>

  <div class="container" id="legend">
    <div class="row">

      <div class="col-md-1">
        <img src="/eggs/egg-gold-chair.png"  class="eggs-legend">
      </div>
      <div class="col-md-2">
        <p  class="eggs-legend-text"><--FREE Ticket!!</p>
      </div>
      <div class="col-md-1">
        <img src="/eggs/egg-red-chair.png"  class="eggs-legend">
      </div>
      <div class="col-md-2">
        <p  class="eggs-legend-text"><--50% Discount</p>
      </div>
      <div class="col-md-1">
        <img src="/eggs/egg-rainbow-chair.gif"  class="eggs-legend">
      </div>
      <div class="col-md-2">
        <p  class="eggs-legend-text"><--25% Discount</p>
      </div>

      <div class="col-md-3" id="pricing-legend">
        <center>
          <p id="pricing-title">10 or more tickets = 10% discount</p>
          <p id="pricing-title">5 or more tickets = 5% discount</p>
        <center>
      </div>
    </div>
  </div>

  <div class="container" id="seats-enclosure">
    <div class="row">
      <div class="col-md-9" id="seats">
        <h4 id="seat-game-title">SEATS TO BE DRAWN HERE</h4>
      </div>
      <div class="col-md-3" id="pricing">
        <center>
          <h4 id="pricing-title">PRICING CALCULATIONS HERE</h4>
        <center>
      </div>
    </div>
  </div>


</div>









<br><br>
<center>
  <a href="/payment">
    <p>Proceed to payment</p>
  </a>
</center>
