<br>
<center>
  <img id="ticket-image" src="/ticket-pic.png">
</center>
<br>

<div class="wrapper">
  <div class="container">
    <div class="row" id="my-tickets">
      <div class="col-md-1">
        </div>
      <div class="col-md-6">
        <center>
        <h1 id="qr-code-title">Your WDI4 Conf Ticket</h1>
        <center>

        <%@paid_seats.each do | paid_seat | %> 
          <div class="row">
            <div class="col-md-3">
              <h4  class="ticket-text" id="name">DREW BARRYMORE</h4>
            </div>
          </div>
          <div class="col-md-3">
            <h4  class="ticket-text" id="seat">Seat: <%=@paid_seat.id%></h4>
          </div>
        <%end%>

        <!-- <center>
        <h3 id="amount">Total amount paid: <%#=@amount%></h3>
        <center> -->

      </div>
      <center>
        <br><br><br>
        <div class="col-md-2" id="qrcode">
        </div>
      </center>
    </div>
  </div>
</div>

<script>

  var name = $('body name').innerHTML;
  var amount = $('body amount').innerHTML;
  
  $("#qrcode").qrcode({
    "size": 100,
    "color": "#3a3",
    "fill": "red",
    "text": name + ". You paid : $" + "amount"
  });

</script>
