# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f9ca538aae56b48cba36cef7702769a17ff55b71199caf941f573a804f690d227cf358e81c5d8e631fe671d2b724a91975bf6b0046ce9adae4c326e98b05d2e4
  
test:
  secret_key_base: e0efce600894c2c30c9bae964dfde01df0a9bbfb87f7468d2a741848d827487c8247a16e9d3f107094726976f114efbaf2a344f252f2173774e63c7ddfeb4bf3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
