/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  background-image: url("/background-red.jpg");
}


.navbar {      /* this is to remove the mysterious space under the navbar and above the main image */
    margin-bottom: 0;
}

h1{
  color: white;
  text-shadow: -1px 0 gold, 0 1px gold, 1px 0 gold, 0 -1px gold;
}

h2{
  color: gold;
}

h3{
  color:blue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px white;
}

h4{
  color:gold;
}

h5{
  color:aqua;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px white;
}
h6{
  color:gold;
}
p{
  color: white;
}

.wrapper {
    width: 100%;
    /*background-color: #800;*/
    /*background-color: #99FFFF;*/
    /*background-color: #FF0;*/
}
 

section#timeline {
    font-family: Helvetica, sans-serif;
  width: 80%;
  margin: 20px auto;
  position: relative;
}
section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(255,255,255,0.2);
}
section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}
section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
section#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}
.headshot_left {
  width: 100px;
  height: 100px;
  border-radius: 100%;
/*  position: absolute;
  left: 20px;*/
  /*float: left;*/
}
.headshot_right {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  /*float: right;*/
}
section#timeline article div.inner span.date {
  display: block;
  width: 80px;
  height: 70px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -41px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: #25303B;
  color: rgba(255,255,255,0.5);
  border: 2px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 0 7px #25303B;
}
section#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}
section#timeline article div.inner span.date span.day {
  font-size: 10px;
}
section#timeline article div.inner span.date span.month {
  font-size: 18px;
}

section#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
    width: 10px; 
    height: 10px;
  -webkit-transform: rotate(-45deg);
}
section#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: #fff;
  color: #656565;
  border-radius: 0 0 6px 6px;
}
section#timeline article:nth-child(2n+2) div.inner {
  float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}
section#timeline article:nth-child(1) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(1) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(2) div.inner h2 {
  background: #2ecc71;
}
section#timeline article:nth-child(2) div.inner h2:after {
  background: #2ecc71;
}