#seats-game, #seats{
  text-align: center;
}

.legend-icon{
  left:45%;
  width:30%;
}

#pricing-table, #pricing{
  text-align: center;
  background-color: rgba(239, 5, 5, 0.35);
  margin-left: 2%;
}

#seats{
  text-align: center;
  /*height: 500px;*/
  background-color: rgba(51, 51, 51, 0.45);
  padding: 0.75%;
}

#pricing{
  text-align: center;
}

'#eggs-n-chairs-images .col-md-1'{
  width: 20%;
  border: 1px solid red;
}

'#eggs-n-chairs-legends .col-md-1'{
  text-align: center;
}

#seat-game-title{
  margin-left: 20%;
  margin-right: 20%;
}

.seat-tile {
  width: 3%;
  border: 0px;
  display: inline-block;
}