#seats-game, #seats{
  text-align: center;
}

#pricing-table, #pricing{
  text-align: center;
  background-color: rgba(239, 5, 5, 0.35)
}

#seats{
  text-align: center;
  /*height: 500px;*/
  background-color: rgba(101, 42, 105, 0.5);
}

#pricing{
  text-align: center;
}

'#eggs-n-chairs-images .col-md-1'{
  width: 20%;
  border: 1px solid red;
}

'#eggs-n-chairs-legends .col-md-1'{
  text-align: center;
}

#seat-game-title{
  margin-left: 20%;
  margin-right: 20%;
}

.seat-tile {
  width: 3%;
  border: 0px;
  display: inline-block;
}