#seats-game, #seats{
  text-align: center;
}

#pricing-table, #pricing{
  text-align: center;
}

#seats{
  text-align: center;
  background-color: white;
  height: 500px;
}

#pricing{
  text-align: center;
  border: 1px solid white;
  height: 500px;
}

.eggs-legend{
  width: 50%;
  float: right;
}

.eggs-legend-text{
  text-align: left;
}