#ticket-image{
  width: 20%;
}

#my-tickets{
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

#qr-code-title{
  color: white;
}

#qrcode{
  background-color: white;
  border: 4px solid white;
}

.ticket-text{
  text-align: center;
  color: gold;
}