<!DOCTYPE html>
<html>
<head>
  <title>Wdi4conf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-static-top" >
    <div class="container">
      <a href="#" class="navbar-brand"> Logo Here </a>

      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="">WDI4 Conf</a></li>
          <li><a href="#">Speakers</a></li>
          <li><a href="#">Schedule</a></li>
          <li><a href="#">Tickets</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">TwitterFeed</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

<%= yield %>

<div class="navbar">

  <div class="container navbar-inverse navbar-static-bottom">
    <p style="color:white;">Site built by WDI4-Famous5.                       This site is for educational purposes only.</p>
  </div>

</div>

</body>
</html>
